.carousel-item1,
.carousel-item2,
.carousel-item3 {
    background-size: cover;
    background-position: center;
}

.carousel-item1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../utils/images/gallery10.jpg);
}

.carousel-item2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../../utils/images/gallery12.jpg);
}

.carousel-item3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../../utils/images/gallery13.jpg);
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next,
.carousel .carousel-indicators {
    display: none;
}

.btn-outline-light:hover {
    background-color: #00c2e8 !important;
    border-color: #00c2e8 !important;
}

.wolt-button {
    position: relative;
    min-width: 120px;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.wolt-button .wolt-logo {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wolt-button:hover .wolt-logo {
    opacity: 1;
}

.wolt-button:hover .button-text {
    opacity: 0;
}

.wolt-button .button-text {
    transition: opacity 0.3s ease;
}

.wolt-button.show-wolt .wolt-logo {
    opacity: 1;
}

.wolt-button.show-wolt .button-text {
    opacity: 0;
}

@media only screen and (max-width: 768px) {
    .carousel-item1 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../utils/images/gallery10.jpg);
    }
    
    .carousel-item2 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../utils/images/gallery12.jpg);
    }
    
    .carousel-item3 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../utils/images/gallery13.jpg);
    }
}